@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1170px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 575px) {
    .btn-container {
        position: fixed;
        bottom: 0px;
        width: 100%;
        left: 0px;
        background: white;
        padding: 5px 0;
        justify-content: center !important;
    }

    .btn-container a {
        padding: 7px 15px;
        text-align: center;
    }

    .banner-content h1 {
        font-weight: 700;
        font-size: 1.6rem;
        text-align: center;
        line-height: 2rem;
    }

    .banner-content br {
        display: none;
    }

    .banner-content p,
    .banner-content li {
        font-size: 1rem;
    }

    .bannerContent-btn {
        flex-direction: column;
    }

    .bannerContent-btn a {
        width: 100%;
        padding: 7px 15px;
    }

    .banner-form {
        padding: 20px;
    }

    .highlight-section h2 {
        font-size: 1.75rem;
        text-align: center;
    }

    .highlight-main-par {
        text-align: center;
    }

    .career-section h2 {
        font-size: 2rem;
    }

    .certified-heading h3 {
        font-size: 1.75rem;
    }

    .curriculum-header h2 {
        font-size: 2rem;
    }

    .curriculum-content li {
        font-size: 1rem;
    }
}